body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #23214c;
}

body a {
  text-decoration: none;
  color: #23214c;
  transition: color 0.2s linear;
}

body a:hover {
  color: #ee87a4;
}

.doc-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #fff;
}

.doc-loader td {
  text-align: center;
  vertical-align: middle;
}

.doc-loader img {
  width: 90px;
  height: 90px;
}

.content-1170 {
  width: 1170px;
}

.content-1170 img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.full-width {
  line-height: 0;
}

/* Start of Top Menu */

.menu-wrapper {
  transition: background-color 0.2s linear;
  z-index: 99 !important;
  background-color: #221c5a;
  width: 100% !important;
  top: 0;
  position: fixed;
}

#header-main-menu {
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
}

.main-menu.sm-clean {
  background-color: transparent;
}

.main-menu.sm-clear.sm-clean a {
  font-size: 13px;
  line-height: 40px;
  color: #fff;
  font-weight: 400;
  transition: color 0.2s linear;
  text-transform: uppercase;
  letter-spacing: 0.03cm;
}

.main-menu.sm-clean .sub-menu a {
  font-size: 11px;
  line-height: 20px;
}

.sm-clean .current_page_item a {
  color: #fff !important;
}

.main-menu.sm-clean a:hover {
  color: #fff !important;
}

.sm-clean li.active a {
  color: #fff !important;
}

.mob-menu {
  display: none;
  font-weight: 700;
  font-size: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: color 0.2s linear;
  color: #fff;
}

/* End of Top Menu */

/* Start of General Section */

.section {
  position: relative;
  z-index: 1;
}

.section-num {
  overflow: hidden;
  margin-top: 40px;
}

.section-title-holder {
  background-color: #32db8a;
  width: 370px;
  height: 370px;
  z-index: 2;
}

.section-num span {
  margin-left: -64px;
  color: #55b286;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 180px;
  line-height: 100%;
  letter-spacing: -5px;
}

.section-title-holder h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 109px;
  width: 245px;
  word-break: break-all;
  line-height: 83px;
  margin-top: 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -3px;
  padding: 0;
}
